body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  padding: 20px;
}

h2, h3 {
  margin-bottom: 10px;
}

/* SUMMARY */
.summary {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.box {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 33%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.box b {
  display: block;
  margin-top: 5px;
  font-size: 20px;
}

/* CHART */
canvas {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* GOALS */
.goal-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.goal-icon {
  font-size: 35px;
  margin-right: 15px;
}

.goal-info {
  flex: 1;
}

.saved {
  color: #1dbf73;
  font-weight: bold;
}

.progress {
  height: 6px;
  background: #eee;
  border-radius: 5px;
  margin-top: 6px;
}

.fill {
  height: 100%;
  background: #1dbf73;
  border-radius: 5px;
}

.percent {
  font-weight: bold;
  color: #1dbf73;
}
